:root {
	--window-width: 2560px;
	--sq-img-size: 256px;
	--item-spacing-half: 12px;
	--item-spacing: 24px;
	--min-meta-width: 952px; /* 1280 - 48 margin - 256 image - 24 spacing */
	--max-section-width: calc(var(--window-width) / 2 - 2 * var(--item-spacing));
	--min-timing-width: 4ch;
	--min-perc-ch-width: 5.75ch;

	/* Colours for difficulty square */
	--col-purple-bg: #64a;
	--col-green-bg: #272;
	--col-yellow-bg: #870;
	--col-red-bg: #a33;
	--col-blue-bg: #278;
	
	/* Colours for text */
	--col-blue: #7ce;
	--col-yellow: #ed6;
	--col-green: #7c7;
	--col-purple: #c9e;
	--col-orange: #ea2;
	--col-red: #d66;

	/* Opacity */
	--opacity-low: 0.35;
}

body {
	font-family: "Clear Sans", "BIZ UDGothic", sans-serif;
	font-weight: 300;
	font-variant-numeric: tabular-nums;
	color: white;
	background: #333;
	display: flex;
	flex-direction: column;
	width: calc(var(--window-width) - var(--item-spacing) * 2);
	margin: var(--item-spacing);
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

/* ---=== COMMON ===--- */

#overlay {
	display: flex;
	flex-flow: row;
}

#overlay > section:not(:last-child) {
	margin-bottom: var(--item-spacing-half);
}

section#graphs {
	display: flex;
	flex-flow: row;
}

#graphs > div,
section#song-score-graph {
    width: var(--max-section-width);
}

#graphs > div:not(:last-child) { margin-right: var(--item-spacing); }
#graphs > div:last-child { margin-left: var(--item-spacing); }

div.filler { flex: 1 0 auto; }
.space-right { margin-right: var(--item-spacing); }
.space-right-half { margin-right: var(--item-spacing-half); }
.opacity-low { opacity: var(--opacity-low); }

/* ---=== META CONTAINER ===--- */

#meta {
	display: flex;
	flex: 1 0 auto;
	flex-flow: column;
	font-size: 3em;
	margin-top: -0.5em;
	justify-content: space-evenly;
	min-width: var(--min-meta-width);
}

#meta-name-bpm {
	display: flex;
	flex-flow: row;
	align-items: baseline;
	margin-bottom: -0.125em;
}

#meta-name-bpm .name { flex: 1 0 auto; }

#song-name {
	font-weight: 600;
	font-size: 1.75em;
	margin-right: 0.125em;
}

#subtitle { font-size: 0.875em; }

#meta-artist {
	display: flex;
	font-size: 0.875em;
	flex-flow: row;
	margin-top: -0.25em;
}

#subtitle, #charter {
	font-weight: 300;
	opacity: 0.5;
}

#meta-chart-score { display: flex; }

#difficulty {
	padding: 0 16px 7px 16px;
	min-height: 64px;
	min-width: 40px;
	text-align: center;
}

#current-perc {
	/* To adjust for the vertical offset */
	line-height: 0.9em;
	padding-left: 8px;
	font-size: 1.5em;
	text-align: center;
	/* Right aligned spacing for double-digits, expands to three for 100 */
	min-width: 4.4ch;
	font-weight: 500;
	margin-right: var(--item-spacing);
}

#current-score {
	align-self: flex-end;
	font-size: 0.75em;
	opacity: var(--opacity-low);
}

#score-comparison {
	display: flex;
	font-size: 0.6em;
	line-height: 1.25em;
	flex-flow: row;
}

#score-comparison .secondary,
#score-comparison .difference,
#score-comparison .labels {
	display: flex;
	flex-flow: column;
}

#score-comparison .secondary span,
#score-comparison .difference span {
	min-width: var(--min-perc-ch-width);
	text-align: right;
}

#difficulty.diff-default { background-color: grey; }
#difficulty.diff-easy { background-color: var(--col-purple-bg); }
#difficulty.diff-normal { background-color: var(--col-green-bg); }
#difficulty.diff-hard { background-color: var(--col-yellow-bg); }
#difficulty.diff-expert { background-color: var(--col-red-bg); }
#difficulty.diff-expertplus { background-color: var(--col-blue-bg); }

/* ---=== SONG/CHART METADATA ===--- */

#song-info {
	display: flex;
	flex-flow: row;
    margin-bottom: var(--item-spacing-half);
}

#cover-image {
	width: var(--sq-img-size);
	height: var(--sq-img-size);
}

/* ---=== PERCENTAGES ROW ===--- */

.diff-pos { color: var(--col-green); }
.diff-neg { color: var(--col-red); }

/* ---=== PLAY STATISTICS ROW ===--- */

#play-data,
#chart-data {
	display: flex;
	flex-flow: row;
	align-items: center;
}

#play-data { width: var(--max-section-width); }

#chart-data > .icon {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#chart-data > .icon .icon { font-size: 2em; }

#chart-data > .icon .count { text-align: center; }

#chart-data .progress {
	display: flex;
	align-items: baseline;
}

#chart-data .progress .pri-num {
	font-size: 2.75em;
	justify-content: flex-end;
	display: inline-block;
}

#chart-data .progress .slash,
#chart-data .progress .sec-num {
	opacity: var(--opacity-low);
	font-size: 1.5em;
	padding-left: 0.375em;
}

#timing-breakdown {
	text-align: right;
	font-size: 2em;
}

#timing-breakdown span {
	display: inline-block;
	text-align: right;
	padding-left: 0.25em;
}

#fan { color: var(--col-blue); }
#exc { color: var(--col-yellow); }
#grt { color: var(--col-green); }
#dec { color: var(--col-purple); }
#wof { color: var(--col-orange); }
#mis { color: var(--col-red); }

#averages, .avg-row { display: flex; }

#averages {
	flex-flow: column;
	font-size: 1.5em;
	text-align: right;
}

.avg-row { flex-flow: row; }

.avg-row .pre,
.avg-row .post,
.avg-row .acc {
	min-width: 4.5ch;
}

.avg-row .side {
	min-width: 2ch;
	opacity: var(--opacity-low);
}

#extra-data .icon {
	text-align: center;
	min-width: 2ch;
}

/* ---=== GRAPH ===--- */

#canvas-score-graph,
#canvas-other-data {
	text-align: center;
	position: relative;
	display: flex;
	flex-flow: column;
}

#canvas-score-graph { margin-bottom: var(--item-spacing); }

#canvas-other-data > canvas:nth-child(1) { position: initial; }

canvas {
	border: 1px solid grey;
	width: 100%;
}

#scatter-graph,
#error-graph,
#hist-graph {
	position: absolute;
}

#canvas-score-graph #song-progress {
	height: 90%;
	width: 100%;
	top: 10%;
	left: 1px;
	z-index: -1;
	position: absolute;
	background: #ddd2;
}

#averages-row {
	display: flex;
	flex-flow: row;
	font-size: 1.5em;
	justify-content: space-between;
	margin-top: var(--item-spacing-half);
}
